*.opendb``
*.log
*.pdb
*.idb
.vs/
.vscode/
*.code*
*.suo
*.ilk
*.exe
*.sdf
*.suo
*.user
settings.json
bazel-*
Debug/
Release/
LaboratoryWorks/*/lib/*
LaboratoryWorks/*/build/*
\!LaboratoryWorks/*/lib/googletest/CMakeLists.txt
